.erromsg{
    color: #f30; /* cor do texto */
 }
 #inscrever {
     background-color: green;
     color: white;    

 }
 body {
     background-color: black;     
 }
 .card-footer {
     background-color: cadetblue;
 }
 .card-header {
    background-color: cadetblue;
    color: white;
    font-size: 22px;
    
 }
 .card {
     background-color: teal;    
 }