html{
    margin-left: 100px;
    margin-right: 100px;
    background-color: aqua;
}
body{
    background-color: white;
    padding: 16px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px dashed;
}
article{
    min-height: 400px;
}
nav ul{
    list-style: none;
    background-color:#4dbaec;
    padding: 16px;
    border-radius: 32px;
}
nav ul li{
    display: inline-block;
    margin-right: 32px;          

}
nav ul li a{
    border: 1px solid black;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    color: black;

}
h1{
    text-align: left;
}
h2, h1, h3{
    color:darkblue
}
h2{
    text-align: left;
}
h3{
    display: inline-block;
}
