#collapseOne, #collapseTwo, #collapseThree, #collapseFor, #collapseFive, #collapseSix, #collapseSeven, #collapseEight, #collapseNine, #collapseTen {
    background-color: rgb(243, 214, 159);
}
#card-header{
background-color:mintcream;
border-color: peru;
}
